<% content_for :subheader do %>
  <h1 class="page-title"><%= Spree.t(:frequently_asked_questions, scope: :spree_help) %></h1>
<% end %>

<section id="faqs" data-hook="faq_list">
  <% @categories.each do |category| %>
    <% next unless category.questions.active.any? %>
    <% cache(category) do %>
      <div id="<%= dom_id category -%>" class="category">
        <h3 id="<%= category.name.to_url %>"><%= h category.name %></h3>
        <ul class="answers">
          <% category.questions.active.each do |question| %>
            <% cache(question) do %>
              <li>
                <a class="question" id="<%= dom_id question -%>" href="#<%= "answer_#{question.id}" %>">
                  <%= question.question.to_s.html_safe -%>
                </a>
                <div class="answer" id="<%= "answer_#{question.id}"-%>">
                  <%= question.answer.to_s.html_safe %>
                </div>
                <div class="interaction">
                  <!-- for up/down votes, date, share links etc -->
                </div>
              </li>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</section>


<% content_for :sidebar do %>
  <div class="affix faq-sidebar" role="complementary" data-hook="faq_sidebar">
    <h3><%= Spree.t(:faq_categories, scope: :spree_help) %></h3>
    <ul class="nav">
    <% @categories.each do |category| %>
      <% next unless category.questions.active.any? %>
        <li>
          <a href="#<%= category.name.to_url %>">
            <%= h category.name %>
          </a>
        </li>
    <% end %>
  </div>
<% end if @categories.any? %>
